@page "/"
@using System.Linq;

<MudItem Class="Background-Img">
    <MudContainer>
        <MudGrid>
            <MudItem lg="5" md="5" sm="5" xs="12" Class="">
                <MudImage Src="img/img4.png" Class="Image-1" />
            </MudItem>

            <MudItem lg="7" md="7" sm="7" xs="12" Class="Content">
                <MudText Class="Main-Heading">Choose delicacy the best healthy way to life</MudText>
                <MudText Class="Main-Content">Beware what you eat, it becomes part of you and climb the Healthy Food ladder to happiness.</MudText>
                <MudGrid Class="IconGrid">
                    <MudItem lg="6" md="6" sm="6" xs="12" Class="IconCard">
                        <i class="fas fa-leaf fa-2xl HomeIcon"></i><span class="Icon-Content">Organic</span>
                    </MudItem>
                    <MudItem lg="6" md="6" sm="6" xs="12" Class="IconCard">
                        <i class="fa-solid fa-truck fa-2xl HomeIcon"></i><span class="Icon-Content">Fast Delivary</span>
                    </MudItem>
                </MudGrid>
                <MudItem lg="12">
                    <MudButton Class="HomeBtn mx-2" Variant="Variant.Filled">Shop Now<i class="fa-solid fa-right-long ms-4"></i></MudButton>
                </MudItem>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudItem>


@* product category *@
<div class="category mt-15">
    <div class="container">
        <MudText Typo="Typo.h4" Class="mt-5 mb-5 d-flex align-content-center justify-content-center heading">Explore By <span class="ml-2">Category</span> </MudText>
        <MudGrid>
            @foreach (var obj1 in cd)
            {
                <MudItem xxl="4" xl="4" lg="4" md="6" sm="6" xs="12" Class="my-3">
                    <MudPaper Class="categorypaper">
                        <MudGrid>
                            <MudItem xxl="6" xl="6" lg="6" md="6" sm="6" xs="6">
                                <MudItem>
                                    <MudImage Src="@obj1.Img" Class="categoryimg" />
                                </MudItem>
                            </MudItem>
                            <MudItem xxl="6" xl="6" lg="6" md="6" sm="6" xs="6" Class="makecenter">
                                <MudItem>
                                    <MudText Typo="Typo.h6" Style="font-family:Impact">@obj1.Heading</MudText>
                                </MudItem>
                                <MudItem>
                                    <MudButton Variant="Variant.Outlined" Color="Color.Dark" Class="buynow">Buy Now</MudButton>
                                </MudItem>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </div>
</div>


<div class="category mt-15">
    <div class="container">
        <MudText Typo="Typo.h4" Class="mt-5 mb-5 d-flex align-content-center justify-content-center heading">Best Selling<span class="ml-2">Products</span> </MudText>
        <MudGrid>
            @foreach (var i in Produts)
            {
                <MudItem md="3" sm="6" xs="12">
                    <MudCard Class="cardhover" Outlined="false" Elevation="0">
                        
                        <MudCardContent Class="text-center">
                            <MudIcon Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Dark" Class="eye1" />
                            <MudItem Class="image">
                                <MudImage Src="@i.FrontImage" Class="image1" />
                                <MudImage Src="@i.BackImage" Class="image2">
                                </MudImage>
                            </MudItem>

                            <MudText Typo="Typo.h6">
                                @i.Name
                            </MudText>
                            <MudGrid>
                                <MudItem md="6">
                                    <MudText Typo="Typo.body1" Class="p-2 price">₹@i.OldPrice</MudText>
                                </MudItem>
                                <MudItem md="6">
                                    <MudText Typo="Typo.body1" Class="p-2">₹@i.Price</MudText>
                                </MudItem>
                                                                  
                                    
                                
   
                            </MudGrid>

                            
                            <MudItem md="12" Class="addtocart">
                                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => ToggleDrawer())">Select Option</MudButton>
                            </MudItem>
                        </MudCardContent>

                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </div>
</div>

<MudDrawer @bind-Open="@open" Elevation="1" Variant="@DrawerVariant.Temporary" Class="drawer" Anchor="Anchor.End" Width="@drawerWidth">
    <MudDrawerHeader Class="drawerheader">
        <MudCarousel Class="mud-width-full" Style="height:370px;" ShowBullets="false" ShowArrows="@arrows" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
            <MudCarouselItem>
                <MudImage Src="img/Nissy/6.png" Height="400" />
            </MudCarouselItem>
        </MudCarousel>
    </MudDrawerHeader>
    <MudDrawerContainer>
        <MudGrid Class="p-4">
            <MudItem md="12" sm="12" xs="12">
                <MudText Typo="Typo.h4" Class="fw-bold">Beetroot Malt</MudText>
                @for (int i = 0; i < 5; i++)
                {
                    <MudIcon Icon="@Icons.Material.Filled.StarRate" Color="Color.Warning"></MudIcon>
                }
                <MudText Typo="Typo.h6" Class="pt-2">$343.00</MudText>

            </MudItem>
            <MudItem md="12" sm="12" xs="12">
                <MudText Typo="Typo.h6">WEIGHT</MudText>
                <MudGrid>
                    <MudItem md="1">
                        <MudIcon Icon="@(Selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Class="circleicon" @onclick="HandleIconClick" />
                    </MudItem>
                    <MudItem md="2" Class="gramstyle">
                        <MudText>300 G</MudText>
                    </MudItem>
                    <MudItem md="1">
                        <MudIcon Icon="@(Selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Class="circleicon" @onclick="HandleIconClick" />
                    </MudItem>
                    <MudItem md="2" Class="gramstyle">
                        <MudText>300 G</MudText>
                    </MudItem>
                    <MudItem md="1">
                        <MudIcon Icon="@(Selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Class="circleicon" @onclick="HandleIconClick" />
                    </MudItem>
                    <MudItem md="2" Class="gramstyle">
                        <MudText>300 G</MudText>
                    </MudItem>
                </MudGrid>
                @* <MudRadioGroup @bind-Value="@SelectedOption">
                <MudRadio Value="@("Radio 1")" >200 g</MudRadio>
                <MudRadio Value="@("Radio 2")">1 KG</MudRadio>
                <MudRadio Value="@("Radio 3")">2 Kg</MudRadio>
                </MudRadioGroup> *@
            </MudItem>
            <MudItem md="2">
                <MudIcon Icon="@Icons.Material.Filled.Add"></MudIcon>
                <input type="number" id="quantity_662d071bbe94b" class="input-text qty text" name="quantity" aria-label="Product quantity" value="1" data-old="7" size="4" min="1" max="" step="1" placeholder="" inputmode="numeric" autocomplete="off">
                <MudIcon Icon="@Icons.Material.Filled.Add"></MudIcon>

                @*                <MudTextField @bind-Value="Quantity" Variant="Variant.Outlined" AdornmentIcon=""></MudTextField>
                *@
            </MudItem>
            <MudItem md="5">
                <MudButton Variant="Variant.Filled" Color="Color.Success">ADD TO CART</MudButton>
            </MudItem>
            <MudItem md="5">
                <MudButton Variant="Variant.Filled" Color="Color.Success">Buy Now</MudButton>
            </MudItem>
        </MudGrid>

    </MudDrawerContainer>
</MudDrawer>
@* <MudItem Class="Background-Img">
    <MudContainer>
        <MudGrid>
            <MudItem lg="5" md="5" sm="5" xs="12" Class="">
                <MudImage Src="img/img4.png" Class="Image-1" />
            </MudItem>

            <MudItem lg="7" md="7" sm="7" xs="12" Class="Content">
                <MudText Class="Main-Heading">Choose delicacy the best healthy way to life</MudText>
                <MudText Class="Main-Content">Beware what you eat, it becomes part of you and climb the Healthy Food ladder to happiness.</MudText>
                <MudGrid Class="IconGrid">
                    <MudItem lg="6" md="6" sm="6" xs="12" Class="IconCard">
                        <i class="fas fa-leaf fa-2xl HomeIcon"></i><span class="Icon-Content">Organic</span>
                    </MudItem>
                    <MudItem lg="6" md="6" sm="6" xs="12" Class="IconCard">
                        <i class="fa-solid fa-truck fa-2xl HomeIcon"></i><span class="Icon-Content">Fast Delivary</span>
                    </MudItem>
                </MudGrid>
                <MudItem lg="12">
                    <MudButton Class="HomeBtn mx-2" Variant="Variant.Filled">Shop Now<i class="fa-solid fa-right-long ms-4"></i></MudButton>
                </MudItem>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudItem>
 *@






@* Main slides *@
@* <div>
    <MudCarousel Class="mud-width-full cor" TData="object" ShowArrows="false">
        <BulletTemplate Context="selected">
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Icon="@(selected ? Icons.Material.Filled.Circle : Icons.Material.Outlined.Circle)" Class="button" Color="@Color.Default" />
                </span>
            </div>
        </BulletTemplate>
        <ChildContent>
            @foreach (var obj3 in cr)
            {
                <MudLink Href="@obj3.Link">
                    <MudCarouselItem>
                        <MudImage Class="img" Src=@obj3.Img></MudImage>
                    </MudCarouselItem>
                </MudLink>
            }
        </ChildContent>
    </MudCarousel>
</div> *@

@* Best seller products *@
@* <div class="container bestseller">
    <MudText Typo="Typo.h4" Class="mt-5 mb-5 d-flex align-content-center justify-content-center heading"> Best <span class="ml-2"> Seller</span> </MudText>
    <MudGrid>
        @foreach (var obj in md)
        {
            <MudItem xxl="2" xl="2" lg="2" md="2" sm="4" xs="6">
                <MudCard Class="bscard">
                    <NavLink Href="@obj.link" class="cdbody">
                        <MudImage Class="bsimg" Src=@obj.Img />
                        <MudCardContent>
                            <MudText Typo="Typo.body1">@obj.Qty</MudText>
                            <MudText Class="mrp" Typo="Typo.body1">MRP &#8377; @obj.MRP</MudText>
                            <MudText Typo="Typo.body1">@obj.Avb</MudText>
                        </MudCardContent>
                    </NavLink>
                    <MudCardActions>
                        <MudToggleIconButton Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Favorite" ToggledIcon="@Icons.Material.Filled.Favorite" ToggledColor="@Color.Error" ToggledTitle="On" />
                        <MudButton Variant="Variant.Filled" Class="btn" Href="" @bind-value="@num" hidden="@showcart" >ADD TO CART</MudButton>
                    </MudCardActions>
                    <MudButtonGroup Variant="Variant.Outlined" Color="Color.Inherit" Style="border-width:2px ;border-color:#ff7800; width: 200px; height: 60px;" hidden="@newcart">
                        <MudButton Style="color:#ff7800; border:hidden;" OnClick="decrease">-</MudButton>
                        <MudSpacer></MudSpacer>
                        <MudText Color="Color.Inherit" Style="align-content:center; text-align:center; color:#ff7800">@productcount</MudText>
                        <MudSpacer></MudSpacer>
                        <MudButton Style="color:#ff7800; border:hidden;" OnClick="@increase" Class="inc">+</MudButton>
                    </MudButtonGroup>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
</div>
 *@


@* Recip screen for large screen *@
@* <div class="container Recips">
    <MudText Typo="Typo.h4" Class="mt-20 mb-5 d-flex align-content-center justify-content-center heading">Recipes</MudText>
    <MudContainer>
        <div style="overflow-x: auto;">
            <div style="display: flex;">
                @foreach (var obj2 in re)
                {
                    <MudLink Href="@obj2.Link">
                        <MudImage Src=@obj2.Img Class="mx-1 recimg"></MudImage>
                    </MudLink>
                }
            </div>
        </div>
    </MudContainer>
</div> *@

@* Recip screen for mobile screen *@
@* <div class="container Recipsmobile">
    <MudText Typo="Typo.h4" Class="mt-15 mb-5 d-flex align-content-center justify-content-center heading">Recipes</MudText>
    <MudCarousel Class="mud-width-full recmob" TData="object" ShowArrows="true" ShowBullets="false">
        <BulletTemplate Context="selected">
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Icon="@(selected ? Icons.Material.Filled.Circle : Icons.Material.Filled.Circle)" Class="button" Color="@Color.Default" />
                </span>
            </div>
        </BulletTemplate>
        <ChildContent>
            @foreach (var obj4 in re)
            {
                <MudLink Href="@obj4.Link">
                    <MudCarouselItem>
                        <MudLink Href="@obj4.Link">
                            <MudImage Class="recmobimg" Src=@obj4.Img></MudImage>
                        </MudLink>
                    </MudCarouselItem>
                </MudLink>
            }
        </ChildContent>
    </MudCarousel>
</div> *@

@* images *@
<div class="container">
    <MudText Typo="Typo.h4" Class="mt-15 mb-5 d-flex align-content-center justify-content-center heading">Our Products</MudText>
    <MudGrid Spacing="0">
        <MudItem lg="3" md="3" sm="3" xs="6" Class="mob">
            <MudGrid Spacing="0">
                <MudItem Class="img1 mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1" Src="img/Nissy/Baby Glow.jpg" Alt="Alternate Text" />
                </MudItem>
                <MudItem Class="img1 mt-4 mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1" Src="img/Nissy/Beetroot.jpg" Alt="Alternate Text" />
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem lg="3" md="3" sm="3" xs="6" Class="mob">
            <MudGrid Spacing="0">
                <MudItem Class="img1 mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1" Src="img/blog/SPROUTED-RAGI-flour.webp" Alt="Alternate Text" />
                </MudItem>
                <MudItem Class="img1 mt-4 mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1" Src="img/Nissy/3.jpg" Alt="Alternate Text" />
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem lg="3" md="3" sm="3" xs="6" Class="mob">
            <MudGrid Spacing="0">
                <MudItem Class="img1 mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1" Src="img/blog/1.jpg" Alt="Alternate Text" />
                </MudItem>
                <MudItem Class="img1 mt-4 mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1 " Src="img/blog/Malaysian-red-sambal.webp" Alt="Alternate Text" />
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem lg="3" md="3" sm="3" xs="6" Class="mob">
            <MudGrid Spacing="0">
                <MudItem Class="img1  mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1" Src="img/blog/low-carb-batter.webp" Alt="Alternate Text" />
                </MudItem>
                <MudItem Class="img1  mt-4 mx-2" lg="12" md="12" sm="12" xs="12">
                    <MudImage Class="sec1" Src="img/blog/4.webp" Alt="Alternate Text" />
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>



@* review for large screen *@
<div class=" reviwewin">
    <MudContainer Class="mt-15">
        <MudText Typo="Typo.h4" Class="mt-5 mb-5 d-flex align-content-center justify-content-center heading">Testimonials</MudText>
        <MudCarousel Class="mud-width-full revtab mb-5" TData="object" ShowArrows="true" ShowBullets="false">
            @{
                var chunkSize = 3;
                var chunks = reviewrating.ChunkBy(chunkSize);
            }

            @foreach (var x in chunks)
            {
                <MudCarouselItem Transition="Transition.Slide">
                    <MudGrid>
                        @foreach (var y in x)
                        {
                            <MudItem xxl="4" xl="4" lg="4" md="4">
                                <MudPaper Class="reviewpaper" Elevation="2">
                                    <MudItem>
                                        <MudText Class="reviewcontent mx-5 my-5" Typo="Typo.subtitle2">@y.Comments</MudText>
                                    </MudItem>
                                    <MudStack Row=true Class="mx-5 my-5">
                                        <MudAvatar Size="Size.Large">
                                            <MudImage Src="@y.img" />
                                        </MudAvatar>
                                        <MudItem>
                                            <MudText Typo="Typo.h6">@y.Name</MudText>
                                            <MudRating SelectedValue="@y.Review" ReadOnly=true Size="Size.Small" />
                                        </MudItem>
                                        <MudSpacer />
                                        <MudImage Src="/img/quotes.png" Class="quotes" />
                                    </MudStack>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCarouselItem>
            }
        </MudCarousel>

    </MudContainer>

</div>

@* review for small screen *@
<div class=" reviwembl">
    <MudContainer>
        <MudText Typo="Typo.h4" Class="mt-5 mb-5 d-flex align-content-center justify-content-center heading">Testimonials</MudText>
        <MudCarousel Class="mud-width-full revmob mb-5" TData="object" ShowArrows="true" ShowBullets="false" AutoCycle="false">

            @{
                var chunkSize = 1;
                var chunks = reviewrating.ChunkBy(chunkSize);
            }
            @foreach (var x in chunks)
            {
                <MudCarouselItem Transition="Transition.Slide">
                    <MudGrid>
                        @foreach (var y in x)
                        {
                            <MudItem sm="12" xs="12">
                                <MudPaper Class="reviewpaper" Elevation="2">
                                    <MudItem>
                                        <MudText Class="reviewcontent mx-5 my-5" Typo="Typo.subtitle2">@y.Comments</MudText>
                                    </MudItem>
                                    <MudStack Row=true Class="mx-5 my-5">
                                        <MudAvatar Size="Size.Large">
                                            <MudImage Src="@y.img" />
                                        </MudAvatar>
                                        <MudItem>
                                            <MudText Typo="Typo.h6">@y.Name</MudText>
                                            <MudRating SelectedValue="@y.Review" ReadOnly=true Size="Size.Small" />
                                        </MudItem>
                                        <MudSpacer />
                                        <MudImage Src="/img/quotes.png" Class="quotes" />
                                    </MudStack>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCarouselItem>
            }

        </MudCarousel>

    </MudContainer>

</div>

@* review for medium screen *@
<div class=" reviwetab">
    <MudContainer>
        <MudText Typo="Typo.h4" Class="mt-5 mb-5 d-flex align-content-center justify-content-center heading">Testimonials</MudText>
        <MudCarousel Class="mud-width-full revtab mb-5" ShowArrows="true" ShowBullets="false" TData="object" AutoCycle="false">
            @{
                var chunkSize = 2;
                var chunks = reviewrating.ChunkBy(chunkSize);
            }
            @foreach (var x in chunks)
            {
                <MudCarouselItem>
                    <MudGrid>
                        @foreach (var y in x)
                        {
                            <MudItem md="6" sm="6" xs="6">
                                <MudPaper Class="reviewpaper" Elevation="2">
                                    <MudItem>
                                        <MudText Class="reviewcontent mx-5 my-5" Typo="Typo.subtitle2">@y.Comments</MudText>
                                    </MudItem>
                                    <MudStack Row=true Class="mx-5 my-5">
                                        <MudAvatar Size="Size.Large">
                                            <MudImage Src="@y.img" />
                                        </MudAvatar>
                                        <MudItem>
                                            <MudText Typo="Typo.h6">@y.Name</MudText>
                                            <MudRating SelectedValue="@y.Review" ReadOnly=true Size="Size.Small" />
                                        </MudItem>
                                        <MudSpacer />
                                        <MudImage Src="/img/quotes.png" Class="quotes" />
                                    </MudStack>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCarouselItem>
            }
        </MudCarousel>
    </MudContainer>

</div>

@code
{
    public int num;
    public bool showcart = false;
    public bool newcart = true;
    public int productcount = 1;

    // To Decrease
    public void decrease()
    {
        productcount--;


        if (productcount == 0)
        {
            showcart = false;
            newcart = true;
            productcount = 1;
        }
    }

    // To Increase
    public void increase()
    {
        productcount++;
    }


    //best seler List
    List<Models> md = new List<Models>
    {
        new Models{Img ="img/sku/f2f-5l-coconut-oil-can.webp", Qty="5 Litre" ,MRP="1800" ,Avb="Avaiable",link="/CoconutOil"},
        new Models{Img ="img/sku/f2f-mustard-oil.jpg", Qty="1 Litre" ,MRP="450" ,Avb="Avaiable",link=""},
        new Models{Img ="img/sku/f2f-rose-lemon-sherbet.webp", Qty="100 ml" ,MRP="150" ,Avb="Avaiable",link=""},
        new Models{Img ="img/sku/f2f-5l-groundnut-oil-can.webp", Qty="5 Litre" ,MRP="1600" ,Avb="Avaiable",link=""},
        new Models{Img ="img/sku/f2f-cow-ghee.webp", Qty="500 ml" ,MRP="520" ,Avb="Avaiable",link=""},
        new Models{Img ="img/sku/f2f-kombucha-black-tea.webp", Qty="100 ml" ,MRP="280" ,Avb="Avaiable",link=""},
    };

    List<carousel> cr = new List<carousel>
    {
        new carousel{Img="img/banner/f2f-batters.webp",Link="/product"},
        new carousel{Img="img/banner/f2f-chutneys.webp",Link="/product"},
        new carousel{Img="img/banner/f2f-ghee.webp",Link="/product"},
        new carousel{Img="img/banner/f2f-millet-noodles-and-pasta.webp",Link="/product"},
        new carousel{Img="img/banner/f2f-oils.webp",Link="/product"},

    };

    List<Recipe> re = new List<Recipe>
    {
        new Recipe{Img="img/blog/adirasam.webp",Link="https://youtube.com/shorts/7bR_Ud0oyN4?si=Vp9lf9PgXaw-tQO1"},
        new Recipe{Img="img/blog/quinoa-dosa-batter-superfood batter.webp",Link="https://youtube.com/shorts/7bR_Ud0oyN4?si=Vp9lf9PgXaw-tQO1"},
        new Recipe{Img="img/blog/Malaysian-red-sambal.webp",Link="https://youtube.com/shorts/7bR_Ud0oyN4?si=Vp9lf9PgXaw-tQO1"},
        new Recipe{Img="img/blog/GREEN SAMBAL.webp",Link="https://youtube.com/shorts/7bR_Ud0oyN4?si=Vp9lf9PgXaw-tQO1"},
        new Recipe{Img="img/blog/stir-fried-millet-noodles.webp",Link="https://youtu.be/4IsUJwLjBxI?si=xU2g-hi6F1XeH9BA"},
        new Recipe{Img="img/blog/SPROUTED-RAGI-flour.webp",Link="https://youtube.com/shorts/7bR_Ud0oyN4?si=Vp9lf9PgXaw-tQO1"},
    };

    List<Category> cd = new List<Category>
    {
        new Category{Img ="img/Nissy/1.jpg",Link="/product", Heading="Energy Drink"},
        new Category{Img ="img/Nissy/2.jpg",Link="/product", Heading="Baby cereal"},
        new Category{Img ="img/Nissy/bathingpowder.jpg",Link="/product", Heading="bathing powder for women/men "},
        new Category{Img ="img/Nissy/4.jpg",Link="/product", Heading="Nutritional mix for diabetes"},
        new Category{Img ="img/Nissy/C1.webp",Link="/product", Heading="Baby cereal"},
        new Category{Img ="img/Nissy/6.png",Link="/product", Heading="Beetroot malt"},
    };

    //review
    List<Reviewcard> reviewrating = new List<Reviewcard>
    {
       new Reviewcard{Name ="User 1", Review=4 ,Comments="This day everything happened. This day everything happened.This day everything happened. This day everything happened. This day everything happened. This day everything happened.", img="/img/blog/blog01.jpg" },
 new Reviewcard{Name ="User 2", Review=2 ,Comments="This day everything happened. This day everything happened. This day everything happened. This day everything happened. This day everything happened. This day everything happened.", img="/img/blog/blog03.jpg" },
 new Reviewcard{Name ="User 3", Review=3 ,Comments="This day everything happened. This day everything happened. This day everything happened.This day everything happened. This day everything happened. This day everything happened.", img="/img/blog/blog01.jpg" },
 new Reviewcard{Name ="User 4", Review=1 ,Comments="This day everything happened. This day everything happened. This day everything happened.This day everything happened. This day everything happened. This day everything happened.", img="/img/blog/blog03.jpg" },
};

    public bool carthidden = true;
    public bool cartbtn = false;

    public void cart()
    {
        carthidden = false;
        cartbtn = true;
    }
}

<style>
    body {
        background-color: #fffdf7;
    }

    .image1 {
        width: 100%;
        display: block;
    }

    .image2:hover {
        display: block;
    }

    .eye1{
        position: absolute;
        margin-top: 20px;
        border: 1px solid;
        background-color: white;
    }

    .image2 {
        display: none;
    }

    .addtocart {
        display: none;
    }

    .mud-button-filled.mud-button-filled-success {
        width: 90%;
        height: 40px;
        background-color: rgb(19 67 39);
    }

    .mud-card-content:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .cardhover:hover .addtocart {
        display: contents;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(1.2);
    }

    .image:hover .image1 {
        display: none;
    }

    .image:hover .image2 {
        width: 100%;
        display: block;
    }

    .drawer {
        overflow-x: hidden;
    }

    .gramstyle {
        padding: 9px !important;
    }

    .price {
        text-decoration: line-through;
    }

    .circleicon {
        color: lightgray;
    }

    .drawerheader {
        min-height: auto;
    }

    .Cardstyle {
        width: 302px;
    }

    .cardimage {
        width: 273px;
        height: 280px;
        padding: 19px 19px 0px 19px;
    }

    .categoryimage {
        width: 65%;
        border: 1px solid lightgray;
    }

    .Background-Img {
        background-color: #f3f3f3;
    }

    .Image-1 {
        width: 100%;
    }

    .Content {
        align-content: center;
        justify-content: center;
    }

    .Main-Heading {
        font-family: Impact;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 8px;
        font-size: 50px;
        color: #130f40;
    }

    .Main-Content {
        font-family: Arial, sans-serif;
        font-size: 15px;
    }

    .HomeBtn {
        margin-top: 20px;
        background-color: #ff7800;
        color: white;
        width: 70px;
        width: 107px;
        justify-content: flex-start;
        text-wrap: nowrap;
        transition: 0.4s ease-in-out;
    }

        .HomeBtn:hover {
            color: white;
            background-color: #130f40;
            width: 138px;
            transition: 0.3s ease-in-out;
        }

    .IconCard {
        align-content: center;
        justify-content: center;
        width: 90%;
        margin: 20px;
        border: dashed;
        border-width: thin;
        color: #ff7800;
    }

    .Icon-Content {
        font-family: 'Trebuchet MS';
        color: black;
        margin-left: 10px;
        font-size: 24px;
    }

    .HomeIcon {
        color: #ff7800;
    }

    /* end */

    .quotes {
        height: 60px;
    }

    .reviewcontent {
        text-align: justify;
    }

    .reviewimg {
        height: 200px;
        width: 100%;
        background-position: center center;
        background-size: cover;
    }

    .reviewpaper {
        /*         background-image:url("/img/testbg.png");
                                    background-size: auto; */
        background-color: white;
        color: black;
        padding: 2%;
        transition: all .5s ease-in-out;
    }

        .reviewpaper:hover {
            background-color: #ff7800;
            color: white;
            scale: 1.05;
            transition: all .5s ease-in-out;
        }

    .makecenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .categorypaper {
        background-color: #f3f3f3;
        color: #130f40;
        transition: all .5s ease-in-out;
    }

        .categorypaper:hover {
            color: black;
            scale: 1.05;
            transition: all .5s ease-in-out;
        }

    .buynow:hover {
        background-color: greenyellow;
        color: black;
    }

    .categoryimg {
        height: 120px;
        width: 120px;
        padding-left: 20px;
    }

    .sec1 {
        position: relative;
        width: 100%;
        transition: all 1s ease 0s;
    }

        .sec1:hover {
            scale: 1.1;
            transition: all 1s ease 0s;
        }

    .img1 {
        overflow: hidden;
    }

    .head {
        color: #6ca300;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: Impact, Haettenschweiler, sans-serif !important;
    }

    .cdbody:hover {
        color: black
    }

    .heading {
        color: #130f40 !important;
        font-family: Impact, Haettenschweiler, sans-serif !important;
    }

        .heading span {
            color: #6ca300;
        }

    .read {
        text-decoration: none;
        color: blue;
    }

    .minus {
        width: 20%;
    }

    .add {
        width: 20%;
    }

    .qty {
        width: 60%;
    }

    .recimg {
        height: 299px;
    }

    .cor {
        height: 370px;
    }

    .img {
        height: 100%;
        width: -webkit-fill-available;
    }

    .button {
        padding-top: 5px;
    }

    .btn {
        background-color: #6ca300;
        color: white;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }

        .btn:hover {
            background-color: white;
            color: #6ca300;
            border: 1px solid #6ca300;
        }

    .bsimg {
        width: -webkit-fill-available;
    }

    .category {
        margin-top: 30px;
        padding-bottom: 50px;
    }

    .catImg {
        width: -webkit-fill-available;
    }

    .categorycard:hover {
        box-shadow: 0px -1px 6px 4px #6ca300;
        scale: 1.02;
    }

    .mrp {
        font-weight: 900;
    }

    .Recips {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .recmobimg {
        width: -webkit-fill-available;
    }

    .Recipsmobile {
        display: none;
        margin-bottom: 30px;
    }

    .mobbestseller {
        display: none;
    }

    .carousel .item {
        text-align: center;
        padding: 60px;
    }

        .carousel .item img {
            max-width: 100%;
            height: 100%;
        }

    .tabseller {
        height: 340px;
    }

    .tabsel {
        display: none;
    }

    .mobsel {
        display: none;
    }

    .ipadbsel {
        display: none;
    }

    /* style for mobile screen */
    @@media (min-width: 360px) and (max-width: 767px) {
        .homeheadicon {
            flex-wrap: wrap;
        }

        .categoryimg {
            height: 100px;
        }

        .cor {
            height: 170px;
        }

        .button {
            padding-top: 5px;
        }

        .img {
            height: 100%;
            width: -webkit-fill-available;
        }

        .button {
            padding-top: 10px;
        }

        .mob {
            margin-top: 5%;
        }

        .Recips {
            display: none;
        }

        .Recipsmobile {
            display: block;
        }

        .recmob {
            height: 350px;
            margin-bottom: 50px;
        }

        .mobbestseller {
            display: block;
        }

        .bestseller {
            display: none;
        }

        .mobsel {
            display: block;
            width: 80%;
        }

        .mobbsimg {
            height: 270px;
            width: -webkit-fill-available;
        }

        .mobbscard {
            width: -webkit-fill-available;
        }

        .mobbsseller {
            height: 450px;
        }
    }

    /* style for small mobile screen */
    @@media (min-width: 279px) and (max-width: 359px) {
        .homeheadicon {
            flex-wrap: wrap;
        }

        .categoryimg {
            height: 100px;
        }

        .mob {
            margin-top: 5%;
        }

        .button {
            padding-top: 1px;
        }

        .Recipsmobile {
            display: block;
            margin-bottom: 30px;
        }

        .recmob {
            height: 250px;
            margin-bottom: 20px;
        }

        .Recips {
            display: none;
        }

        .cor {
            height: 150px;
        }

        .bscard {
            height: 350px;
        }

        .bestseller {
            display: none;
        }

        .mobsel {
            display: block;
            width: 80%;
        }

        .mobbsimg {
            width: -webkit-fill-available;
        }

        .mobbscard {
            width: -webkit-fill-available;
        }

        .mobbsseller {
            height: 395px;
        }
    }

    /* Style for tablet screen */
    @@media (min-width: 768px) and (max-width: 1023px) {
        .bestseller {
            display: none;
        }

        .tabbsseller {
            height: 550px;
        }

        .tabsel {
            display: block;
        }

        .bsimg {
            height: 315px;
        }
    }

    @@media (min-width: 1024px) and (max-width: 1439px) {
        .ipadbsel {
            display: block;
        }

        .bestseller {
            display: none;
        }

        .tabbsseller {
            height: 500px;
        }

        .bsimg {
            height: 300px;
        }
    }

    @@media (min-width: 2560px) {
        .cor {
            height: 630px;
        }
    }

    }

    /* review style */
    .card-color {
        background-color: antiquewhite;
    }

    .revpaper {
        height: 200px;
    }

    .revtab {
        height: 260px;
    }

    .revmob {
        height: 255px;
    }

    .reviewbg {
        background-image: url("/img/bg.jpg");
        background-size: 100% 100%;
    }

    @@media (max-width: 767px) {


        .reviwewin {
            display: none;
        }

        .reviwembl {
            display: contents;
        }

        .reviwetab {
            display: none;
        }
    }

    @@media (min-width: 767px) {

        .reviwewin {
            display: none;
        }

        .reviwembl {
            display: none;
        }

        .reviwetab {
            display: contents;
        }
    }

    @@media (min-width: 1024px) {

        .reviwewin {
            display: contents;
        }

        .reviwembl {
            display: none;
        }

        .reviwetab {
            display: none;
        }
    }

    @@media (max-width: 280px) {
        .revmob {
            height: 220px;
        }

        .revpaper {
            height: 215px;
        }
    }


    /* Fold */
    @@media (max-width: 359px) {
        .IconGrid {
            flex-wrap: wrap !important;
        }
    }
    /* Small Mobile */
    @@media (min-width: 360px) and (max-width: 539px) {
        .IconGrid {
            flex-wrap: wrap !important;
        }
    }
    /* Large Mobile */
    @@media (min-width: 540px) and (max-width: 767px) {
        .IconGrid {
            flex-wrap: nowrap !important;
        }

        .Icon-Content {
            font-size: 12px;
        }
    }
    /* Tab */
    @@media (min-width: 768px) and (max-width: 1023px) {
        .IconGrid {
            flex-wrap: nowrap !important;
        }

        .Icon-Content {
            font-size: 16px;
        }
    }
    /* DeskTop */
    @@media (min-width: 1024px) and (max-width: 1439px) {
        .IconGrid {
            flex-wrap: nowrap !important;
        }
    }
    /* Large Screens and Above */
    @@media (min-width: 1440px) {
        .IconGrid {
            flex-wrap: nowrap !important;
        }
    }

</style>

<script>
    $(document).ready(function () {
        $('.carousel').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            dots: true,
            centerMode: true,
            prevArrow: '<button type="button" class="slick-prev">&#10094;</button>',
            nextArrow: '<button type="button" class="slick-next">&#10095;</button>',
            responsive: [
                {
                    breakpoint: 1030,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
</script>